<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <% include ../template/header.ejs %>
</head>
<body>
<% include ../template/nav.ejs %>
<div class="container">
    <div class="row">
        <% if(list.length){ %>
        <% list.forEach(function(item){ %>
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="/guokr/<%= item.id %>"><img class="img-responsive" width="99% \9" src="<%= item.img %>"
                                                     alt=""/></a>
                <div class="caption">
                    <a href="/guokr/<%= item.id %>"><%= item.title %></a>
                </div>
            </div>
        </div>
        <% }); %>
        <% } %>
    </div>
<%include ../template/footer.ejs%>
</div>
</body>
</html>